*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: auto;
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.87);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.28571429em;
  margin: 0 0 1rem 0;
  font-weight: bold;
  padding: 0;
}

main {
  margin: 0 auto;
}

article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  article {
    width: 723px;
    margin-top: calc((100% - 723px) / 5);
    margin-bottom: calc((100% - 723px) / 2);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  article {
    width: 933px;
    margin-top: calc((100% - 933px) / 5);
    margin-bottom: calc((100% - 933px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  article {
    width: 1127px;
    margin-top: calc((100% - 1127px) / 5);
    margin-bottom: calc((100% - 1127px) / 2);
  }
}

/* Page */
.page {
  padding: 3em;
  background: white;
  box-shadow: 0 10px 100px 0 rgba(34, 36, 38, 0.5);
  transition: box-shadow 0.2s linear;
}

/* style.css */
/* h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: 0 0 1rem 0;
  font-weight: bold;
  padding: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0;
}
h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.25em;
}
h2 + p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.25em;
}
h3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.15em;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
section {
  padding: 1em 0;
}
p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
strong {
  font-weight: 600;
}
small {
  font-size: 80%;
}
ul,
ol {
  list-style: none outside none;
  padding-left: 1.5em;
  margin: 0;
}
ol {
  counter-reset: ol-counter;
}
li {
  list-style: none outside none;
}
ul > li:before {
  content: "â—";
  font-family: "Arial";
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  float: left;
  width: 1rem;
  border-radius: 0.25em;
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 0.7em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-1.5rem + 0.5rem / 2);
  height: 1rem;
  margin-top: calc((1.4285rem - 1rem) / 2);
} */

.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.avatar-wrapper {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  max-width: 15rem;
  flex: 1 0 auto;
  border-radius: 120px;
}

/* Info */

.information-container {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  margin-left: 50px;
}

.job {
  margin-left: 10px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.contacts {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1199px) {
  .contacts-container {
    align-items: center;
  }

  .contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts li {
  margin-bottom: 0.25rem;
  margin-right: 1em;
}
.contacts li:before {
  display: none;
}
.contacts li a {
  display: flex;
  align-items: center;
  color: black;
  /* transition: color 0.2s ease-in-out; */
  text-decoration: none;
  transition: transform 0.3s;
}

.contacts li a:hover {
  transform: scale(1.1);
}

.contacts li a.facebook {
  color: #3b5998;
}
.contacts li a.github {
  color: dimgrey;
}
.contacts li a.mail {
  color: #bc4336;
}
.contacts li a.skype {
  color: #00aff0;
}
.contacts li a.linkedin {
  color: #0077b5;
}
.contacts li a.telegram {
  color: #0088cc;
}
.contacts li a.phone {
  color: dimgrey;
}

.contacts li a .icon {
  fill: currentColor;
  height: 2rem;
  margin-right: 5px;
}

.resume {
  text-align: center;
}
